.app {
    overflow: hidden;
}

.header {
    background-image: linear-gradient(0, #fe5433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar-list {
    list-style: none;
    padding-left: 0%;
    display: flex;
}

.header__navbar-item {
    margin-right: 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: inline-block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 300;
    z-index: 1;
    display: flex;
    justify-items: center;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong {
    font-weight: 400;
    margin-left: 8px;
}

.header__navbar-item--separate::after {
    content: '';
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 12px;
    right: -8px;
    top: 24%;
}

.header__navbar-icon-link {
    align-items: center;
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
    margin-left: 8px;
}

.header__navbar-user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__navbar-user {
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: cover;
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.2rem;
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 140px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    padding-left: 0;
    list-style: none;
    animation: fadeIn ease-in .3s;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-menu::before {
    content: '';
    border-width: 10px 14px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 20px;
    top: -18px;
}

.header__navbar-user-item a {
    color: var(--black-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
    padding: 8px 16px;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}


/* header qr_code */

.header__qr {
    background-color: var(--white-color);
    width: 170px;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    animation: fadeIn ease-in .3s;
    display: none;
}

.header__qr-img {
    width: 100%;
}

.header__qr-app {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 12px;
}

.header__qr-link:nth-child(2) {
    margin-right: 12px;
}

.header__qr-download-img {
    height: 14px;
}


/* hedaer notification */

.header__notify {
    position: absolute;
    top: 100%;
    right: 0;
    width: 404px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in .25s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: '';
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -27px;
}

.header__notify::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    background-color: var(--white-color);
}

.header__notify-title {
    color: #999;
    margin: 0 0 0 12px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #D3D3D3;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    width: 100%;
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 40px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #756F6E;
    margin-top: 14px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer--btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    text-align: center;
    padding: 8px;
}


/* modal */

.auth-form {
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
}

.auth-form__container {
    padding: 12px 32px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    margin-top: 30px;
    margin-right: 20px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 0 12px;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.auth-form__input:focus {
    outline: none;
    border-color: #888;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
}

.auth-form__text-link {
    color: var(--primary-color);
    font-weight: 400;
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls {
    margin-right: 32px;
}

.btn.btn--primary__sinup {
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 0 32px;
}

.btn--primary__login {
    padding: 0 18px;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.auth-form__controls-back {
    padding: 0 32px;
    margin-right: 12px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials {
    margin-top: 18px;
}

.auth-form__socials--facebook {
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__socials--facebook .auth-form__socials-icon {
    color: var(--white-color)
}

.auth-form__socials-title {
    margin-left: 32px;
}

.auth-from__help {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

.auth-form__help-link {
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 14px;
    margin: 0 16px;
    border-left: 1px solid var(--border-color);
}

.auth-form__help-forgot {
    color: var(--primary-color);
}


/* Header with search */

.header-with-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-with-search-height);
}

.header__mobile-search {
    display: none;
}

.header__mobile-bars {
    display: none;
}

.header__mobile-search-icon {
    font-size: 1.8rem;
    color: var(--white-color);
}

.header__mobile-bars-icon {
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__search {
    height: 40px;
    flex: 1;
    background-color: var(--white-color);
}

.header__search-checbox:checked~.header__search {
    display: flex;
}

.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    right: 0;
    height: var(--header__sort-bar-height);
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
    position: relative;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
    height: 100%;
    line-height: var(--header__sort-bar-height);
    text-align: center;
}

.header__sort-link::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    border-left: 1px solid #e5e5e5;
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
    display: block;
    line-height: 0;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list::after {
    content: '';
    position: absolute;
    right: 4px;
    top: -26px;
    border-style: solid;
    border-width: 16px 20px;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__cart-notice {
    position: absolute;
    color: var(--primary-color);
    padding: 1px 6px;
    line-height: 1rem;
    border-radius: 14px;
    border: 2px solid #EE4D2D;
    top: -4px;
    right: -2px;
    font-size: 1.2rem;
    background-color: var(--white-color);
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 9.4px);
    right: 0px;
    width: 380px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0, 0, 0, .175);
    display: none;
    animation: fadeIn ease-in 0.2;
    cursor: default;
    z-index: 1;
}

.header__cart-no-cart-img {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-heading {
    display: none;
}

.header__cart-list-heading {
    font-size: 1.6rem;
    font-weight: 1.4rem;
    color: var(--text-color);
    display: none;
    margin: 12px 0;
}

.header__cart--heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 8px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    margin: 0 8px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.8rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1rem;
    color: var(--text-color);
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    font-size: 1rem;
    color: #757575;
    margin: 0;
}

.header__cart-item-remove {
    font-size: 01.2rem;
    color: var(--text-color);
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
}

.header__cart-view-cart {
    float: right;
    margin: 0px 12px 12px 0;
    font-size: 1.4rem;
}

.header__cart-view-cart:hover {
    background-color: #F05D41;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 12px;
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: #666;
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #666;
    margin: 0 8px;
    position: relative;
    top: 0.9px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 30px;
    width: 52px;
    border-radius: 3px;
    margin-right: 3px;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
    cursor: context-menu;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 80%;
    width: 120px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0ee;
    border-radius: 3px;
    padding-left: 0;
    animation: fadeIn ease-in 0.2;
    display: none;
    z-index: 1;
}

.header__search-option::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1rem;
    color: var(--primary-color);
    margin-left: 8px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus~.header__search-history {
    display: block;
}


/* bars */

.header__bars {
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 34%;
    background-color: var(--white-color);
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    border-radius: 3px;
    z-index: 2;
    overflow: hidden;
    display: none;
}


/* Search history */

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    border-radius: 3px;
    z-index: 1;
    display: none;
    overflow: hidden;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 500;
}

.header__search-history-list,
.header__bars-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item,
.header__bars-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover,
.header__bars-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-history-item:last-child,
.header__bars-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-history-item a,
.header__bars-item a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    line-height: 38px;
}


/* Container */

.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 24px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 8px;
    position: relative;
    top: -1;
}

.category__list {
    list-style: none;
    padding: 0 0 8px 0;
}

.category-item {
    margin-bottom: 5px;
}

.category-item__link {
    position: relative;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    right: 0;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}


/* Mobile category */

.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 8px;
    display: block;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87AFD8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #76C9BD;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #88CF81;
}

.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    text-align: center;
    width: 110px;
    height: calc(var(--line-height)*2);
    border-radius: 4px;
    font-weight: 300;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-filter {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 8px 16px;
    margin-top: 18px;
    border-radius: 2px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__label {
    margin-right: 16px;
    font-size: 1.4rem;
    color: #555
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    padding: 12px;
    font-size: 1.2rem;
    color: #555;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 80px;
    background-color: #fff;
}


/* Product */

.home-product-brand {
    margin-bottom: 10px;
    display: none;
}

.home-product-brand.active {
    display: block;
}

.home-product-item {
    position: relative;
    background-color: var(--white-color);
    color: var(--text-color);
    margin-top: 10px;
    display: block;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

.home-product-item__img {
    width: 100%;
    object-fit: contain;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 0.9rem;
    margin-left: 10px;
    text-decoration: line-through;
    color: #888;
}

.home-product-item__price-current {
    font-size: 1.2rem;
    margin-left: 2px;
    margin-right: 10px;
    color: var(--primary-color);
}

.home-product-item__action {
    display: flex;
    margin: 6px 10px 0px;
}

.home-product-item__like {
    font-size: 1rem;
}

i.home-product-item__like-icon-fill {
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 0.6rem;
    color: #9a9a9a;
    margin-left: auto;
}

.home-product-item__star-gold {
    color: #fdd835;
}

.home-product-item__like-icon-fill {
    color: #F63D30
}

.home-product-item__sold {
    font-size: 1rem;
    margin-left: 4px;
    font-weight: 500;
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    color: rgba(255, 216, 64, 0.94);
    background-color: currentColor;
}

.home-product-item__sale-off::after {
    position: absolute;
    top: 100%;
    right: 0;
    content: "";
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 2px;
}

.home-product-item__sale-off-label {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--white-color);
    font-weight: 600;
    position: relative;
    top: 2px;
}

.home-product-item__origin {
    display: flex;
    margin: 3px 10px 0;
    font-weight: 400;
    color: #595959;
}

.home-product-item__brand {
    margin-right: auto;
}

.home-product-item__origin-name {}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.home-product-item__favourite i {
    font-size: 0.8rem;
    margin: 0 3px 4px;
    color: var(--white-color);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -2.8px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}


/* pagination */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 2px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #ed5c3f;
}

.pagination-item__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300px;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
}

.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 32px;
    padding-left: 0;
}


/*  footer*/

.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 4px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img {
    height: 16px;
}

.footer__download-app-link {
    text-decoration: none;
}

.footer__bottom {
    padding: 8px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}

.footer__text {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}